.adv-art-content button:hover {
    color: rgba(255,255,255,.8);
    cursor: pointer;
}
.more-text button:hover {
    color: rgba(240, 238, 235, 0.62);
    cursor: pointer;
}
.adventures-articles {
    display: flex;
    width: 68.81481%;
    justify-content: space-between;
    margin-right: -140px;
}
.image-zoom img{
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin-bottom: 30px;
    margin-top: -30px;
}
.image-zoom:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}

.adventures-articles img {
    width: 100%;
}
.like-btn{
    position: relative;
    top: 212px;
    left: 90%;
    color: white;
    cursor: pointer;
}
.adv-art-content {
    background-color: #505b4e;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 25px 35px 25px 35px;
    margin-top: -3px;
}

.titlee-categories {
    background-color: rgba(255, 255, 255, .1);
    border: none;
    color: rgba(255, 255, 255, .6);
    border-radius: 20px;
    width: 110px;
    text-decoration: none;
    height: 32px;
    text-align: center;
    line-height: 25px;
    font-size: 17px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.adv-art-content h2 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 700;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #fff;
}

.adv-art-content p {
    color: rgba(255, 255, 255, .6);
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
}

.articles-author {
    border-top-color: rgba(255, 14, 14, 0.1);
    background: none;
    margin-top: 20px;
    padding: 15px 0 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
}

#authors-ph {
    height: 24px;
    width: 24px;
    margin-right: 6px;
    border-radius: 50%;
}

.articles-author button {
    border: none;
    color: #ac8a62;
    margin-top: 5px;
    width: 100%;
    background: none;
    padding: 0;
    display: flex;
    font-size: 15px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;

}

.articles-author span {
    color: #DEDEDE;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 15px;
    width: 100%;
}
