.menu{
    display: flex;
    justify-content: flex-end;
    height: 80px;
    align-items: center;
    margin-top: 0;
    margin-bottom: -16px;
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
}