.guid-art-content{
    background-color: #fff;
    height: 108%;
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    width: 300px;
    margin-top: -5px;
}
.guid-art-first img{
    width: 300px;
}
.guid-art-second img{
    width: 300px;
}
.guid-art-third img{
    width: 300px;
}
.guid-art-first h2{
    color: #504840;
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
}
.guid-art-content button:hover{
    color: rgba(0,0,0,.8);
    cursor: pointer;
}
.guid-art-second h2{
    color: #504840;
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
}
.guid-art-third h2{
    color: #504840;
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
}
.title-categ-guides{
    background-color: rgba(0,0,0,.05);
    border: none;
    color: rgba(0,0,0,.6);
    padding: 3px 12px;
    border-radius: 20px;
    width: 72px;
    text-decoration: none;
    height: 32px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    
}
.guid-art-author {
    border-top-color: rgba(255, 14, 14, 0.1);
    background: none;
    margin-top: 20px;
    padding: 15px 0 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    flex-direction: column;
}


.guid-art-author button {
    text-decoration: none;
    color: #ac8a62;
    background: none;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    border: none;
}

.guid-art-author span {
    color: #DEDEDE;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.image-zoom img{
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin-bottom: 30px;
    margin-top: -30px;
    width: 100%;
}
.image-zoom:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;

}

.like-btn{
    position: relative;
    top: 183px;
    left: 90%;
    color: #ac8a62;
    background: none;
    border:none;
}
.like-btn button:hover{
    color: #ac8a62;
}