.places-articles{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    margin-bottom: 120px;
}
.row-places {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #efeeea;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.small-title-places button{
    border:none;
    background: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #504840;
}