

.blocks-title {
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 68.81481%;
}

.small-title a {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
}

.small-title img {
    margin-right: 15px;
    margin-top: -5px;
}

.big-title {
    width: 60%;
    margin-top: 2%;
}

.big-title h3 {
    font-size: 38px;
    line-height: 47px;
    font-weight: 700;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    color: #fff;
}

.small-title {
    display: flex;
}
.row-places {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #efeeea;
}

.small-title-places a {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
}

.small-title-places {
    display: flex;
}

.small-title-places img {
    margin-right: 15px;
    margin-top: -3px;
    width: 26px;
    height: 26px;
}

.big-title-places {

    width: 60%;
    margin-top: 2%;

}

.big-title-places h3 {
    font-size: 38px;
    line-height: 47px;
    font-weight: 700;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    color: #fff;
}
.row-guides {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #e2e0dc;
}

.small-title-guides a {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
}

.small-title-guides {
    display: flex;
}

.small-title-guides img {
    margin-right: 15px;
    margin-top: -3px;
    width: 26px;
    height: 26px;
}

.big-title-guides {

    width: 60%;
    margin-top: 2%;

}

.big-title-guides h3 {
    font-size: 38px;
    line-height: 47px;
    font-weight: 700;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    color: #fff;
}