.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
}
.header {
    background-color: #2b302a;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.logo {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    height: 80px;
}
.logo img:hover{
    cursor: pointer;
}
.logo-img {
    width: 142px;
    display: flex;
    margin: 20px;
}

.row-menu{
    position: fixed;
    width: 101%;
    background-color: rgba(43,48,42, 0.8);
}
@media (min-width:1024px){
    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .col-md-8 {
        flex: 0 0 66.66666%;
        max-width: 66.66666%;
    }
}
@media(max-width:426px){
    .col-xs-12 {
        /* flex: 0 0 33.33333%;
        max-width: 33.33333%; */
        width: 100%;
    }
    .col-xs-6{
        width: 50%;
    }
    #container-mobile{
        height: 100px;
    }
    #col-xs-12-row {
        display: flex;
        max-width: 767px;
        width: 100%;
    }
    .logo-img{
        width: 75%;
    }
    .logo{
        width:50%;
    }
    .menu-icon{
        width: 10%;
    }
    .menu{
        display: flex;
        justify-content: center;
        height: 80px;
        align-items: flex-end;
        margin-top: 0;
        font-family: "Montserrat", Arial, Tahoma, sans-serif;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 50%;
    }
    /* .menu-icon span,.menu-icon::before,
    .menu-icon::after{
        left:0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .menu-icon::before,
    .menu-icon::after{
        content:"";
    }
    .menu-icon::before{
        top:0;
    }
    .menu-icon::after{
        bottom:0;
    }
    .menu-icon span{
        top:50%;
        transform: scale(1) translate(0px,-50%);
    } */
}